* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	transition: background-image 0.3s ease;

	&:has(.home) {
		background-image: url("../assets/images/home/background-home-desktop.jpg");
		@media only screen and (max-width: 69.375em) {
			background-image: url("../assets/images/home/background-home-tablet.jpg");
		}
		@media only screen and (width < 48em) {
			background-image: url("../assets/images/home/background-home-mobile.jpg");
		}
	}

	&:has(.destination) {
		background-image: url("../assets/images/destination/background-destination-desktop.jpg");
		@media only screen and (max-width: 69.375em) {
			background-image: url("../assets/images/destination/background-destination-tablet.jpg");
		}
		@media only screen and (max-width: 55.0625em) {
			background-image: url("../assets/images/destination/background-destination-mobile.jpg");
		}
	}

	&:has(.crew) {
		background-image: url("../assets/images/crew/background-crew-desktop.jpg");
		@media only screen and (max-width: 69.375em) {
			background-image: url("../assets/images/crew/background-crew-tablet.jpg");
		}
		@media only screen and (max-width: 55.0625em) {
			background-image: url("../assets/images/crew/background-crew-mobile.jpg");
		}
	}

	&:has(.technology) {
		background-image: url("../assets/images/technology/background-technology-desktop.jpg");
		@media only screen and (max-width: 69.375em) {
			background-image: url("../assets/images/technology/background-technology-tablet.jpg");
		}
		@media only screen and (max-width: 55.0625em) {
			background-image: url("../assets/images/technology/background-technology-mobile.jpg");
		}
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

main {
	flex-grow: 1;
	display: flex;
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
}
