* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-image: url("../assets/images/home/background-home-desktop.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 69.375em) {
		background-image: url("../assets/images/home/background-home-tablet.jpg");
	}

	@media only screen and (max-width: 52.875em) {
		background-image: url("../assets/images/home/background-home-mobile.jpg");
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

main {
	flex-grow: 1;
	display: flex;
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
}
