@use "./variables" as *;

.button {
	&,
	&:link,
	&:hover,
	&:visited,
	&:active {
		color: inherit;
	}

	&--nav {
		display: none;

		@media only screen and (width < 48em) {
			display: block;
		}
	}

	&--hide {
		margin: 0 24px 80px auto;

		& img {
			width: 19.1px;
			height: 19.1px;
		}
	}

	&--home {
		font-family: "Bellefair", serif;
		font-size: 32px;
		color: $color-blue-900;
		width: 272px;
		height: 272px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $color-white;
		position: relative;
		transition: all 0.1s ease;

		@media only screen and (width < 48em) {
			font-size: 18px;
			width: 144px;
			height: 144px;
		}

		&::after {
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.1);
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 0.4s ease;
		}

		&:hover {
			transform: translateY(-3px);

			&::after {
				transform: scale(1.5);
			}
		}

		&:active {
			transform: translateY(-1px);

			&::after {
				transform: scale(1);
			}
		}
	}
}
