@use "./variables" as *;

.destination {
	padding: 48px 165px;

	@media only screen and (max-width: 69.375em) {
		padding: 40px;
	}

	@media only screen and (width < 48em) {
		padding: 24px;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		gap: 32px;
		margin-top: 150px;

		@media only screen and (max-width: 69.375em) {
			grid-template-columns: 1fr;
			align-content: center;
			gap: 90px;
			margin-top: 66px;
		}

		@media only screen and (width < 48em) {
			gap: 60px;
			margin-top: 50px;
		}
	}

	&__image-container {
		img {
			object-fit: contain;

			@media only screen and (max-width: 69.375em) {
				width: 300px;
				height: 300px;
			}

			@media only screen and (width < 48em) {
				width: 150px;
				height: 150px;
			}
		}
	}

	&__text-container {
		padding: 0 47px;

		@media only screen and (max-width: 69.375em) {
			padding: 0 87px;
			text-align: center;
		}

		@media only screen and (width < 48em) {
			padding: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 32px;
		margin-bottom: 40px;

		@media only screen and (max-width: 69.375em) {
			justify-content: center;
			margin-bottom: 24px;
		}
	}

	&__button {
		color: $color-white;
		font-size: 16px;
		text-transform: uppercase;
		font-family: "Barlow Condensed", sans-serif;
		letter-spacing: 2px;
		padding-bottom: 8px;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.4s ease;

		@media only screen and (width < 48em) {
			font-size: 14px;
		}
	}

	&__active {
		border-bottom: 2px solid $color-white !important;
	}

	&__button:hover:not(&__active) {
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	}

	&__title {
		font-size: 96px;
		font-family: "Bellefair", serif;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 16px;

		@media only screen and (max-width: 69.375em) {
			font-size: 80px;
		}

		@media only screen and (width < 48em) {
			font-size: 56px;
		}
	}

	&__description {
		font-family: "Barlow", sans-serif;
		font-size: 18px;
		line-height: 1.8;
		color: $color-blue-300;
		margin-bottom: 40px;

		@media only screen and (max-width: 69.375em) {
			font-size: 16px;
		}

		@media only screen and (width < 48em) {
			font-size: 15px;
			padding: 0;
			margin-bottom: 24px;
		}
	}

	hr {
		height: 1px;
		opacity: 0.25;
		background-color: $color-white;
		margin-bottom: 40px;

		@media only screen and (width < 48em) {
			margin-bottom: 24px;
		}
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-transform: uppercase;

		@media only screen and (width < 48em) {
			grid-template-columns: 1fr;
			gap: 24px;
		}

		h3 {
			font-family: "Barlow Condensed", sans-serif;
			font-size: 14px;
			letter-spacing: 2px;
			color: $color-blue-300;
			margin-bottom: 12px;
		}

		p {
			font-family: "Bellefair", serif;
			font-size: 28px;
			color: $color-white;
		}
	}
}
