@use "./variables" as *;

.home {
	align-self: flex-end;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 66px;
	padding: 128px 165px;

	@media only screen and (max-width: 69.375em) {
		align-self: flex-start;
		grid-template-columns: 1fr;
	}

	@media only screen and (max-width: 52.875em) {
		padding: 24px;
		gap: 120px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media only screen and (max-width: 69.375em) {
			align-items: center;
			text-align: center;
		}
	}

	&__heading {
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		gap: 24px;

		&--small {
			color: $color-blue-300;
			font-family: "Barlow Condensed";
			font-size: 28px;
			letter-spacing: 4px;

			@media only screen and (max-width: 52.875em) {
				font-size: 16px;
				letter-spacing: 2.4px;
			}
		}

		&--large {
			color: $color-white;
			font-family: "Bellefair", serif;
			font-size: 144px;

			@media only screen and (max-width: 52.875em) {
				font-size: 80px;
			}
		}
	}

	&__description {
		color: $color-blue-300;
		font-family: "Barlow", sans-serif;
		font-size: 18px;
		line-height: 1.8;

		@media only screen and (max-width: 52.875em) {
			font-size: 15px;
		}
	}

	&__action {
		justify-self: end;

		@media only screen and (max-width: 69.375em) {
			justify-self: center;
		}
	}
}
